* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.LiPrincipal {
    border-left: 1px solid black;
    list-style-type: none;
    margin-right: 40px;
    display: inline;
    padding-top: 20px;
}

hr {
    height: 4px;
    background: rgba(32, 36, 143, 1);
    border: none;
}

.ContainerGerenciar,
.ContainerVerificar {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.BoxGerenciar,
.BoxVerificar {
    width: 400px;
    height: 300px;
    background: rgba(208, 213, 238, 1);
    border: 1px solid rgba(28, 41, 112, 1);
}

.TabelaTipos {
    margin-bottom: 10px;
}
tr, td {
    border: 1px solid rgba(46, 55, 134, 1);
    background: rgba(111, 155, 221, 0.27);
}
.TdManicure {
    font-size: 14px;
}